<h2> <%= @exercise.name %> </h2><br />

<p> Reps: <%= @exercise.reps %> </p><br />

<p> Workout: <a href="/workouts/<%=@exercise.workout.id%>"><%= @exercise.workout.title %></a>
</p> <br />

<a href="/exercises/<%=@exercise.id%>/edit">Edit Exercise</a>
